<div>
  <h1>Pagina de Formulario para crear o editar Producto</h1>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. In esse atque
    placeat dolores delectus incidunt nostrum distinctio sint aperiam saepe
    laborum, perspiciatis corporis explicabo? Expedita nam aliquid suscipit
    itaque ipsa?
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. In esse atque
    placeat dolores delectus incidunt nostrum distinctio sint aperiam saepe
    laborum, perspiciatis corporis explicabo? Expedita nam aliquid suscipit
    itaque ipsa?
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. In esse atque
    placeat dolores delectus incidunt nostrum distinctio sint aperiam saepe
    laborum, perspiciatis corporis explicabo? Expedita nam aliquid suscipit
    itaque ipsa?
  </p>
</div>
