<div>
  <h1>Pagina de Contacto</h1>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, earum itaque.
    Perferendis officiis cumque quidem provident, natus ut velit omnis dicta
    quasi corrupti, voluptatibus aspernatur quae tempore, incidunt repellat nam.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, earum itaque.
    Perferendis officiis cumque quidem provident, natus ut velit omnis dicta
    quasi corrupti, voluptatibus aspernatur quae tempore, incidunt repellat nam.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, earum itaque.
    Perferendis officiis cumque quidem provident, natus ut velit omnis dicta
    quasi corrupti, voluptatibus aspernatur quae tempore, incidunt repellat nam.
  </p>
</div>
